<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>
<body>
    <h1>Plotly streaming test</h1>
    <div id="state"></div>
    <div id="graph"></div>
</body>
<script type="text/javascript">
    const api_url = 'http://localhost:5000/api/get_state';

    var arrayLength = 30
    var newArray = []
    for (var i = 0; i < arrayLength; i++) {
        newArray[i] = 0;
    }

    Plotly.plot('graph', [{
        y: newArray,
        mode: 'lines',
        line: {color: '#80CAF6'}
    }]);

    var interval = setInterval(function() {
        $.getJSON(api_url, function(result) {
            var number = result[0]['val'];
            console.log(number);
            $('#state').html('<p>' + number + '</p>');
            newArray = newArray.concat(number);
            newArray.splice(0, 1);
            var data_update = {
                y: [newArray]
            };
            Plotly.update('graph', data_update)
        });
    }, 1000);
</script>
</html>